/.metadata/
/TestArchitectProgram/.*
/factory-design-pattern/__MACOSX/
/factory-design-pattern/factory-design-pattern/.*
/TestArchitectProgram/target/
/factory-design-pattern/factory-design-pattern/bin/
/factory-design-pattern/factory-design-pattern/src/.*
/TestArchitectProgram/test-output/

# OS files
.DS_Store
__MACOSX/

# IDEs
.classpath
.project
.settings/
.idea/
.vscode/

# Build outputs
target/
dist/
build/
out/

# Test reports
test-output/
playwright-report/
allure-results/

# Logs
*.log

# Archives
*.zip
*.tar
*.gz

# Excel temp files
~$*.xlsx

