<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="3" data-provider-thread-count="1">
	<listeners>
		<listener
			class-name="com.dz.core.testng.listeners.DriverListener2">
		</listener>
		<listener
			class-name="com.dz.core.testng.listeners.AnnotationTransformer">
		</listener>
	</listeners>
	<test name="test" parallel="methods" thread-count="2">
		<classes>
			<class name="com.dz.prism.test.Revenue.RevenueTest">
			<methods>
			<include name="verifyRevByAccSuperAccount"></include></methods>
			</class>
		</classes>
	</test>
</suite>