/testNG/.settings
/testNG/target/
/testNG/reports/
/testNG/test-output/
/testNG/.classpath
/Java/bin
/testNG/bin
/Java/.classpath
/Java/debug.log
/Java/*.log

/PrismApiTesting/reports/
/PrismApiTesting/target/
/PrismApiTesting/test-output/
/PrismApiTesting/.settings
/PrismApiTesting/.classpath
/PrismApiTesting/.project
/PrismApiTesting/bin
/.metadata/

/playwright/target/
/playwright/test-output/
/playwright/.settings
/playwright/reports
/playwright/src/test/resources/AutoLogin/
/playwright.zip
/playwright/.classpath
/playwright-18-09-2023.zip
/PrismApiTesting.zip
/testNG.zip
/playwright_dup.zip
/playwright_Mizu.zip
/playwright2.zip
/playwright_30jan.zip
/playwright_WB.zip
/playwright_WB1.zip
/playwright1.zip
/bin/
/playwright______bhu.zip

/restassured/reports/
/restassured/test-output/
/restassured/.settings
/restassured/reports
