/target/
/test-output/
/.settings
/reports
/src/test/resources/AutoLogin/
.classpath
PlayWrightTestGenerator.bat
.project
/PrismApiTesting/.settings
/PrismApiTesting/target/
/PrismApiTesting/test-output/
/PrismApiTesting/.classpath
/PrismApiTesting/.project
/bin/
